
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 10px 0;
    color: #fafafa;
}
header h1, header p {
    color: white; 
}
p {
    color: #333;
}
figcaption {
    color: #333;
}

h2 {
    color: #ffa500;
}
.side-nav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    z-index: 1000;
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
}

.side-nav ul li {
    padding: 10px 15px;
}

.side-nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
}

.side-nav ul li a:hover {
    background-color: #575757;
    transition: background-color 0.3s ease;
    color: #ffa500; 
}


body {
    margin-left: 200px; 
    padding: 20px;
}
.profile-pic {
    border-radius: 50%;
    width: 150px;
    margin-top: 10px;
}

a.contact-link {
    color: #f4f4f4;
    text-decoration: none;
}

a.contact-link:hover {
    text-decoration: underline;
}

section {
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #575757;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
}

ul li {
    margin-bottom: 10px;
    color: #333;
}


.experience-item, .education-item {
    margin-bottom: 20px;
    color: #333;
}

.experience-item h3, .education-item h3 {
    margin-bottom: 5px;
    color: #333;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.gallery figure {
    flex-basis: 50%; 
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.gallery img {
    display: block;
    margin: 0 auto;
    width: 100%; 
    height: 220px; 
    object-fit: cover;
    border-radius: 10px;
}

.gallery figcaption {
    margin-top: 10px;
    font-style: italic;
}


.gallery img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    border: 2px solid #ffa500; 
}


footer {
    text-align: center;
    background-color: #333;
    color: white  !important;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    color: white !important; 
    text-decoration: none;
}

footer a:hover {
    color: #ffa500  !important; 
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.8em;
    }

    .profile-pic {
        width: 120px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    .profile-pic {
        width: 100px;
    }

    section {
        padding: 10px;
    }
}
@media (max-width: 768px) {
    .top-nav ul {
        flex-direction: column;
    }

    .side-nav {
        width: 100%;
        height: auto;
        position: relative;
    }

    body {
        margin-left: 0;
    }
}
@media (max-width: 768px) {
    .gallery figure {
        flex-basis: 100%; 
    }
}

@media (max-width: 768px) {
    .side-nav {
        width: 100%; 
        height: auto; 
        position: fixed; 
        left: 0; 
        top: 0; 
    }


    body {
        margin-left: 0; 
    }
}